name: build-main
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: build
    timeout-minutes: 30
    env:
      JAVA_OPTS: -Xms15G -Xmx15G -Xss10M -XX:MaxMetaspaceSize=2G -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms15G -Xmx15G -Xss10M -XX:MaxMetaspaceSize=2G -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: '22'
    - uses: coursier/cache-action@v6
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev libidn2-0-dev
    - uses: coursier/setup-action@v1
      with:
        jvm: corretto:24
        apps: sbt

    - name: Build JVM
      run: sbt '+kyoJVM/test'

    - name: Build JS
      run: sbt '+kyoJS/test'

    - name: Build Native
      run: sbt '+kyoNative/Test/compile'
