name: readme
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v7
      - uses: coursier/setup-action@v1
        with:
          jvm: corretto:24
          apps: sbt
      - run: sbt checkReadme
