name: release
on:
  push:
    branches: [main]
    tags: ["v1.*"]
  issue_comment:
    types: [created]

permissions:
  pull-requests: read
  contents: read

jobs:
  publish:
    if: |
      (github.event_name == 'push') ||
      (github.event_name == 'issue_comment' && 
       github.event.issue.pull_request && 
       github.event.comment.body == '/release')
    runs-on: ubuntu-latest
    env:
      JAVA_OPTS: -Xms1G -Xmx1G
      JVM_OPTS:  -Xms1G -Xmx1G
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'issue_comment' && format('refs/pull/{0}/head', github.event.issue.number) || '' }}
      - uses: coursier/cache-action@v8
      - uses: coursier/setup-action@v2
        with:
          jvm: corretto:24
          apps: sbt
      - run: sbt -Dplatform=JVM "ci-release"
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - run: sbt -Dplatform=JS "ci-release"
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      # - run: sbt -Dplatform=Native "ci-release"
      #   env:
      #     PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
      #     PGP_SECRET: ${{ secrets.PGP_SECRET }}
      #     SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      #     SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
